.grubify-wrapper {
    text-align: center;
}

.picky-wrapper {
    background-color: rgb(218, 218, 218);
    max-width: 50%;
    border-radius: 25px;
}

.picky-card {
    max-width: 100%;
}

.primary-color {
    color: rgb(255, 108, 108);
}

.button {
    background-color: rgb(255, 108, 108);
    padding: 14px 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    border: none;
    color: white;
    display: inline-block;
    font-size: 16px;
  }

.picky-input-table {
    text-align: left !important;
    border-collapse: separate;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5em;
    border-spacing: 5em 0em;
}

td {
    min-width: max-content;
    padding: 0 10px;
}