.primary-color {
    color: rgb(255, 108, 108);
}

td {
    min-width: max-content;
    padding: 0 10px;
}

.grubify-wrapper {
    text-align: center;
}

.grubbing-title {
    font-size: 3em;
}

.grubify-box {
    background-color: rgb(255, 149, 149);
    box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px 0px;
    border-radius: 5px;
    padding-bottom: 3em;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4em;
    margin-bottom: 20%;
}

.picky-wrapper {
    background-color: #f9f9fb;
    max-width: 80%;
    border-radius: 25px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.picky-card {
    max-width: 100%;
}

.picky-label {
    font-size: 1.3em;
}

.picky-input-table {
    text-align: left !important;
    border-collapse: separate;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5em;
    border-spacing: 5em 0em;
}

.button {
    background-color: rgb(245, 90, 90);
    padding: 14px 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    border: none;
    color: #ffffff;
    display: inline-block;
    font-size: 16px;
  }

.margin-top-large {
    margin-top: 1em;
}

.margin-bottom-large {
    margin-bottom: 1em;
}

.margin-top-extra-large {
    margin-top: 2em;
}

.padding-top-large {
    padding-top: 3em;
} 

.padding-bottom-large {
    padding-bottom: 3em;
}